<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="../getLogindata">
        <span class="menu-title">Dashboard</span>
        <img
          src="/static/assets/images/home.png"
          alt=""
          style="width: 18px; margin-left: 18px"
        />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../profile">
        <span class="menu-title">User</span>
        <img
          src="/static/assets/images/user.png"
          alt=""
          style="width: 18px; margin-left: 16px"
        />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../viewAllreports">
        <span class="menu-title">Reports</span>
        <img
          src="/static/assets/images/report.png"
          alt=""
          style="width: 18px; margin-left: 16px"
        />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../viewAllTemplates">
        <span class="menu-title">Templates</span>
        <img
          src="/static/assets/images/template.png"
          alt=""
          style="width: 21px; margin-left: 7px"
        />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../templateMessage">
        <span class="menu-title">Send Messages</span>
        <img
          src="/static/assets/images/send.png"
          alt=""
          style="width: 17px; margin-left: 8px"
        />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../campaigns">
        <span class="menu-title">Send campaigns</span>
        <img
          src="/static/assets/images/template.png"
          alt=""
          style="width: 19px; margin-left: 8px"
        />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../contacts">
        <span class="menu-title">Contacts Book</span>
        <img
          src="/static/assets/images/template.png"
          alt=""
          style="width: 19px; margin-left: 8px"
        />
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="../superAdmin">
        <span class="menu-title">Log-in Users</span>
        <img
          src="/static/assets/images/setting.png"
          alt=""
          style="width: 19px; margin-left: 8px"
        />
      </a>
    </li>
  </ul>
</nav>
